/* 返回顶部 */

#back_to_top
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color:transparent;
  z-index: 1000;
  a
    display: block;
    width: 2em;
    height: 2em;
    border-radius: 1.5em;
    border: 1px solid #fff;
    font: 1.5em sans-serif bold;
    color: #fff;
    line-height: 2em;
    background-color: rgb(39, 40, 34);
    text-decoration: none;
    text-align: center;
    z-index: 100;
    box-shadow: 0 0 4px darkerBgColor;
    position: relative;
    &:hover
      color: rgb(245, 161, 13);
      border-color: rgb(245, 161, 13);
    &:active
      box-shadow: 0 0 2px darkerBgColor, inset 0 0 6px #000;
      left: 0.5px;
      top: 0.5px;
