/*多说评论框样式*/
#ds-thread #ds-reset
  div.ds-comment-body
    p
      color: #fff;
      font-size: 14px;
    a:hover
      color: #666;
  .ds-user-name
    font-size: 14px;
  .ds-gradient-bg
    background: mainBgColor;
  p.ds-powered-by
    a:hover
      color: #75B0FD;
  ul.ds-comments
    background-color: #34352E
    .ds-post-self
      border-top: none;
#ds-recent-comments
  li.ds-comment
    border-top: 1px solid #666666;
