@media (max-width: 768px)
  body
    font-size: 14px;
    transition: font-size 0.4s;
  .well
    padding-left: 10px;
    padding-right: 10px;
    blockquote
      font-size: 14px;
  pre
    font-size: 14px;
  #main-col
    padding-left: 0;
    padding-right: 0;
  article
    header
      .title
        margin-top: 0;
  .nav>li
    display: inline-block;
    width: 90px;
  .navbar-nav>li>a
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  #toc
    float: none;
@media (min-width: 1200px)
  .container
    width: 1050px;