#toc
  font-size: .9em;
  float: right;
  background-color: #34352E;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px 5px 0 10px;
  width: 240px;
  border-radius: 5px;
  ol, ul
    padding-left: 1.5em;
    list-style: none;
  &>ol, &>ul
    padding-left: 0em;
.toc-title
  font-size: 1.2em;
  font-weight: bold;
